* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  a {
    color: whitesmoke;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffbdde;
  }
  
  header {
    background-color: #ff88c3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  li:hover{
    color: #ff69b4;
  }
  
  .navbar ul li {
    margin: 0 10px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }
  
  .navbar ul li a i {
    margin-right: 5px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #ffe4e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    width: calc(33.33% - 20px);
    margin-right: 20px;
    flex-grow: 1;
    text-align: center;
    width: 15vw;
    height: 45vh;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin: 20px;
    color: #333;
  }
  
  .card img {
    width: 10vw;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #eee;
    border-radius: 20px;
  }
  
  .card .btn {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px auto;
    width: 150px;
  }
  
  footer {
    background-color: #df4391;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer i {
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #ff69b4;
  }
  